

<html>
<style>
body {background-image: url(http://www.hybridnetworkyt.com/wp-content/uploads/2018/03/infinity-war-header-thanos-1.jpg);}

h1 {color: white;
    margin:10% }
</style>
  <body>
    <h1>
    <%= @name2 %> has been zapped
  </h1>
  </body>
</html>
