<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/names" method="post">
      <label for="name1">Player 1 name:</label>
      <input type="text" name="name1">
      <label for="name2">Player 2 name:</label>
      <input type="text" name="name2">
      <input type="submit" value="Sumbit Players">
    </form>
  </body>
</html>
